body{
	background-image: url("https://lh3.googleusercontent.com/NcRpp1l8duQG5-_xp1AArCfOg-yERAYKQaPIMWMfxFnB4BiLVMGxDWpkhXBDj0RGHQ=h556");
	color: white;
	text-align: center;
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
}
button{
	background: none;
	border: none;
}
#number{
	width: 120px;
	height: 25px;
}